:root {
    --blue: #00BAFC;
    --shadow-color: rgba(0, 0, 0, 0.1);
    --border-radius: .5rem;
    --footer-color: #191919;
}

/********************************************
 General Rules:
*********************************************/

html {
    font-size: 10px;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    list-style: none;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.5rem;
    transition: color .3s ease;
}

a:hover {
    color: var(--blue);
}

h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 2rem;
}

p {
    font-size: 1.6rem;
}

img {
    width: 100%;
}

iframe {
    width: 100%;
    height: 100%;
}

/********************************************
 Flex Combinations:
*********************************************/

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/********************************************
 Button Style:
*********************************************/

.btn {
    display: inline-block;
    padding: .8rem 1.6rem !important;
    color: #ffffff !important;
    background-color: var(--blue);
    font-weight: bold;
    border-radius: var(--border-radius);
    transition: background-color .3s ease;
}

.btn:hover {
    background-color: #000000;
}

/********************************************
 Nav Section: 
*********************************************/

.nav {
    box-shadow: 0px 4px 20px var(--shadow-color);
    background-color: rgba(255, 255, 255, 0.9);
    position: sticky;
    top: 0;
}

.nav__container {
    padding: 2rem 0;
}

.nav__list {
    display: flex;
}

.nav__item:not(:last-child) {
    margin-right: 2rem;
}

.nav__item-link {
    color: #000000;
    padding: .5rem;
}

/********************************************
 Intro Section:
*********************************************/

.intro__container {
    padding: 8rem 0;
}

.intro__text {
    width: 47rem;
}

.intro__title {
    font-size: 3rem;
}

.intro__description {
    margin: 2rem 0;
}

.intro__video {
    width: 46rem;
    height: 26rem;
}

/********************************************
 Service Section:
*********************************************/

.service {
    padding: 5.6rem;
    text-align: center;
}

.service__sub-title {
    width: 71.9rem;
    margin: 1.6rem auto;
}

.service__list {
    margin-bottom: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 32rem);
    justify-content: space-between;
    row-gap: 4.8rem;
}

.service__item {
    text-align: center;
    padding: 2.4rem;
    box-shadow: 0px 8px 8px var(--shadow-color);
    border-radius: var(--border-radius);
}

.service__image {
    width: 20rem;
    height: 13rem;
}

.service__name {
    margin: 1.6em 0;
}

.service__link_underline {
    color: var(--blue);
    margin-left: 1.6rem;
    transition: text-decoration .3s ease;
}

.service__link_underline:hover {
    text-decoration: underline;
}