:root {
    --blue: #00BAFC;
    --shadow-color: rgba(0, 0, 0, 0.1);
    --border-radius: .5rem;
    --footer-color: #191919;
}

/********************************************
 General Rules:
*********************************************/

html {
    font-size: 11px;
    box-sizing: border-box;
}

/* Responsive: */

@media (max-width: 1400px) {
    html {
        font-size: 10px;
    }
}

@media (max-width: 1200px) {
    html {
        font-size: 9.5px;
    }
}

@media (max-width: 992px) {
    html {
        font-size: 9px;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 8.5px;
    }
}

@media (max-width:576px) {
    html {
        font-size: 8px;
    }
}

*::before,
*::after,
* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    list-style: none;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

/* Responsive: */

@media (max-width: 1400px) {
    .container {
        width: 1320px;
    }
}

@media (max-width: 1200px) {
    .container {
        width: 1140px;
    }
}

@media (max-width: 992px) {
    .container {
        width: 930px;
    }
}

@media (max-width: 768px) {
    .container {
        width: 720px;
    }
}

@media (max-width:576px) {
    .container {
        width: 90%;
    }
}

a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.5rem;
    transition: color .3s ease;
}

a:hover {
    color: var(--blue);
}

h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 2rem;
}

p {
    font-size: 1.6rem;
}

img {
    width: 100%;
}

iframe {
    width: 100%;
    height: 100%;
}

button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

/********************************************
 Flex Combinations:
*********************************************/

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-reverse {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
}

.flex-start {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

/* Responsive: */

@media (max-width: 768px) {
    .flex {
        flex-direction: column;
    }

    .flex-reverse {
        flex-direction: column;
    }

    .flex-start {
        flex-direction: column;
        align-items: center;
    }
}

/********************************************
 Button Style:
*********************************************/

.btn {
    display: inline-block;
    padding: .8rem 1.6rem !important;
    color: #ffffff !important;
    background-color: var(--blue);
    font-weight: bold;
    border-radius: var(--border-radius);
    transition: background-color .3s ease;
}

.btn:hover {
    background-color: #000000;
}

/********************************************
 Nav Section: 
*********************************************/

.nav {
    box-shadow: 0px 4px 20px var(--shadow-color);
    background-color: rgba(255, 255, 255, 0.9);
    position: sticky;
    top: 0;
}

.nav__container {
    padding: 2rem 0;
}

.nav__list {
    display: flex;
    align-items: center;
}

.nav__item:not(:last-child) {
    margin-right: 2rem;
}

.nav__item-link {
    color: #000000;
    padding: .5rem;
}

.nav__btn {
    color: var(--blue);
    font-size: 2.5rem;
    display: none;
}

@media (max-width: 768px) {
    .nav__btn {
        display: block;
    }

    .nav__list {
        display: none;
    }

    .nav__container {
        flex-direction: row;
    }
}


/********************************************
 Intro Section:
*********************************************/

.intro__container {
    padding: 8rem 0;
}

.intro__text {
    width: 47rem;
}

.intro__title {
    font-size: 3rem;
}

.intro__description {
    margin: 2rem 0;
}

.intro__video {
    width: 46rem;
    height: 26rem;
}

/* Responsive: */

@media (max-width: 992px) {
    .intro__text {
        width: 48%;
    }

    .intro__video {
        width: 48%;
        height: 26rem;
    }
}

@media (max-width: 768px) {
    .intro__container {
        flex-direction: column-reverse;
        padding: 4rem 0;
    }

    .intro__text {
        width: 100%;
        text-align: center;
    }

    .intro__video {
        width: 100%;
        height: 40rem;
        margin-bottom: 2rem;
    }
}


/********************************************
 Service Section:
*********************************************/

.service {
    padding: 5.6rem 0 0;
    text-align: center;
}

.service__sub-title {
    width: 71.9rem;
    margin: 1.6rem auto;
}

.service__list {
    margin-bottom: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    row-gap: 4.8rem;
    column-gap: 7rem;
}

.service__item {
    text-align: center;
    padding: 2.4rem;
    box-shadow: 0px 8px 8px var(--shadow-color);
    border-radius: var(--border-radius);
}

.service__image {
    width: 20rem;
    height: 13rem;
}

.service__name {
    margin: 1.6em 0;
}

.service__link_underline {
    color: var(--blue);
    margin-left: 1.6rem;
    transition: text-decoration .3s ease;
}

.service__link_underline:hover {
    text-decoration: underline;
}

/* Responsive: */

@media (max-width: 768px) {
    .service__list {
        grid-template-columns: repeat(2, 1fr);
    }

    .service__sub-title {
        width: 80%;
    }
}

@media (max-width:576px) {
    .service__list {
        grid-template-columns: repeat(1, 1fr);
    }

    .service__footer {
        display: flex;
        flex-direction: column;
    }

    .service__link {
        margin-bottom: 2rem;
    }
}

/********************************************
 System Section;
*********************************************/

.system {
    padding: 5.6rem 0;
    text-align: center;
}

.system__sub-title {
    width: 71.9rem;
    margin: 1.6rem auto 4rem;
}

.system__list {
    text-align: left;
    margin-bottom: 4rem;
}

.system__item:not(:last-child) {
    margin-bottom: 4.8rem;
}

.system__photo img {
    height: 100%;
    object-fit: contain;
}

.system__photo {
    width: 30%;
    height: 27.7rem;
}

.system__text {
    width: 60%;
}

.system__name {
    margin-bottom: 1.6rem;
}

/* Responsive: */

@media (max-width: 768px) {
    .system__sub-title {
        width: 80%;
    }

    .system__list {
        text-align: center;
    }

    .system__photo {
        width: 100%;
        margin-bottom: 2rem;
    }
}


/********************************************
 Order Section:
*********************************************/

.order {
    padding: 5.6rem 0;
    background-color: var(--blue);
    text-align: center;
    color: #ffffff;
}

.order__sub-title {
    width: 71.9rem;
    margin: 1.6rem auto;
}

.order__form {
    background-color: #ffffff;
    width: 35rem;
    margin: 0 auto;
    padding: 2.4rem;
    border-radius: var(--border-radius);
}

.order__form input,
.order__form select {
    width: 100%;
    padding: 1.6rem;
    border-radius: var(--border-radius);
    background-color: #f3f3f3;
    border: none;
    outline: none;
    margin-bottom: 1.6rem;
    color: #696969;
}

.order__form button {
    border: none;
    outline: none;
    cursor: pointer;
}

/* Responsive: */

@media (max-width: 768px) {
    .order__sub-title {
        width: 80%;
    }

    .order__form {
        width: 80%;
    }
}

/********************************************
 Footer Section:
*********************************************/

.footer {
    background-color: var(--footer-color);
    color: #ffffff;
    padding: 5.6rem 0;
}

.footer__copyright {
    width: 32rem;
}

.footer h2 {
    margin-bottom: 1.6rem;
}

.footer li:not(:last-child) {
    margin-bottom: 1rem;
}

.footer__social__item a {
    display: flex;
    align-items: center;
}

.footer__social__item img {
    width: 2.2rem;
    display: block;
    margin-right: 0.8rem;
}

/* Responsive: */

@media (max-width: 768px) {
    .footer {
        text-align: center;
    }

    .footer__copyright {
        width: 80%;
    }

    .footer__copyright {
        margin: 0 auto;
    }

    .footer__link {
        margin: 2rem 0;
    }

    .footer__social__item a {
        justify-content: center;
    }
}